.box {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}

.box:hover {
    opacity: 0.5;
    background-color: rgb(83, 83, 83);
  }

.box:active {
    opacity: 1;
    background-color: #444;
}

.clear:hover {
    opacity: 0.9;
    background-color:#444;
  }


.clear:active {
    opacity: 1;
    background-color: #444;
}
